body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(122deg, var(--main-bg-color) 0%, #141414 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    color: var(--main-text-color);
    letter-spacing: .05em;
    font-size: 18px;

    --border-color: #444;
    --main-text-color: #ddd;
    --secondary-text-color: #8a8;
    --highlight-color: #aaf;
    --panel-bg-color: ##18181e;
    --panel-hover-bg-color: #101010;
    --main-bg-color: #303030;
}

.spoiler {
    user-select: none;
    filter: blur(5px);
    transition: all .2s;
    animation: spoilertext 1s;
}

@keyframes spoilertext {
    0% {
        color: transparent;
    }
    100% {
        color: var(--main-text-color);
    }
}

.revealed {
    animation: reveal 1s;
}

input[type="button"] {
    border: 1px solid var(--border-color);
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px 16px;
    transition: all .2s;
    margin: 2px;
}

input {
    font-size: 1rem;
}

input[type="button"] {
    border: 1px solid var(--border-color);
    background: #0008;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px 16px;
    transition: all .2s;
}

input[type="button"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: var(--highlight-color);
    text-transform: capitalize;
    font-variant: small-caps;
    border-bottom: 1px var(--highlight-color) solid;
}

h2 {
    margin-block-start: 0;
    font-size: 1.2em;
    color: var(--highlight-color);
}

.top-icon:hover, .player-icon:hover, .bubble-icon:hover, .audio-icon:hover, .choice-icon:hover {
    transform: translateY(-4px);
    rotate: -5deg;
}

.bubble-icon:hover, .audio-icon:hover {
    transform: scale(1.5);
}

.text:hover {
    text-shadow: 4px 4px 8px #ffd3;
    color: #ffd;
}

@keyframes reveal {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

.text {
    cursor: help;
}

.audio-icon-container {
    display: inline-block;
    margin-right: 8px;
    height: 1rem;
    vertical-align: top;
}

.icon {
    /* https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(76%) sepia(25%) saturate(532%) hue-rotate(202deg) brightness(103%) contrast(101%);
    transition: all .2s;
    cursor: pointer;
}

.audio-icon {
    height: 1.2rem;
}

.bubble-icon {
    height: 2rem;
    display: none;
}

.player-icon {
    height: 2rem;
    margin: 0 auto;
}

.choice-icon {
    height: 2em;
    vertical-align: middle;
    margin: 8px 8px 8px 0px;
}

.story-image {
    width: 80%;
    border-radius: 16px;
    display: block;
    margin: 1em auto;
    border-radius: 16px;
    border: 1px solid #000;
}

.small-story-image {
    width: 31%;
    margin: 4px;
    border-radius: 16px;
    border: 1px solid #000;
}

.translation {
    font-size: 0.8rem;
    color: #999;
    font-style: italic;
    margin-block-start: 0.2em;
}

.story-list {
    .story-info {
        display: flex;
    }

    * {
        margin-top: auto;
        margin-bottom: auto;
    }

    :hover {
        color: var(--highlight-color);
        cursor: pointer;
    }

    .story-count {
        margin-left: auto;
    }

    .story-complete {
        color: var(--highlight-color);
        font-weight: bold;
    }
}

.main {
    max-width: 600px;
    margin: 0 auto;
}

summary {
    cursor: pointer;
}

.top {
    background: inherit;
    border-bottom: 1px solid var(--border-color);
    padding: 4px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8px;
    display: none;
    transition: all .5s;
    z-index: 10;
}

.top-icon {
    width: 36px;
    height: 36px;
    display: inline;
    vertical-align: top;
}

.top summary {
    list-style: none;
}

.top details {
    display: inline-block;
}

.footer {
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
    height: 140px;
    background: inherit;
    width: 100%;
    padding: 8px;
    align-items: center;
    /* display: flex; */
    justify-content: center;
    display: none;
}

.info {
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 16px 16px;
    padding-bottom: 4px;
    margin: 8px 0;
}

.story-end {
    border: 1px solid #8f8;
    border-radius: 16px;
    padding: 16px 16px;
    margin: 8px 0;
    display: none;
}

.certificate {
    width: 64px;
    filter: invert(1);
    float: left;
}

.certificate {
    animation: beat .5s infinite alternate;
}

@keyframes beat{
	to { transform: scale(1.2); }
}

.choices {
    border: 1px solid var(--border-color);
    background-color: #000;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: help;
    margin: 1em 0em;
}

.choice {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

.middle {
    padding: 6px;
    margin-top: 48px;
}

li > label {
    display: inline-block;
    width: 180px;
}

.inv-logo, .logo {
    width: 32px;
    margin-right: 16px;
}

.inv-logo {
    filter: invert(1);
}

a {
    color: var(--highlight-color);
}

a:hover {
    color: #ccf;
}

#languageSelector a {
    font-weight: bold;
    text-decoration: none;
}

#languageSelector ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    text-align: center;
    grid-gap: 0.5em;
}

p {
    margin-block-start: 0em;
}

details > ul {
    padding-left: 0;
    list-style-type: none;
}

details h2 {
    display: inline-block;
}

.flag {
    width: 64px;
    vertical-align: middle;
    border-radius: 4px;
    margin: 8px;
}

.sentence-container {
    display: flex;
}

.sentence-container > * {
    display: inline-block;
}

.word-shuffle-game {
    .word {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--panel-bg-color);
        cursor: pointer;
        transition: all .2s;
    }

    .greyed-out {
        color: transparent;
        user-select: none;
        background-color: #444;
    }

    .sentence {
        min-height: 2em;
        background-color: #0004;
        border-radius: 8px;
    }

    .correct-sentence {
        color: #f44;
        font-weight: bold;
        cursor: pointer;
    }
}

.in-story {
    display: none;
}

.story {
    padding-top: 1em;
}