body {
    margin: auto;
}

.md {
    display: block;
    border: 1px solid var(--border-color);
    background-color: var(--box-bg-color);
    border-radius: 16px;
    padding: 8px 16px;
}

.md h2 {
    color: var(--highlight-color);
}

.md a:link, .md a:visited {
    color: var(--highlight-color);
}

.md .title {
    color: var(--highlight-color);
    text-transform: capitalize;
    font-variant: small-caps;
    margin-bottom: 4px;
}

.md pre {
    background: var(--dark-bg-color);
}

.md blockquote {
    font-style: italic;
    background: var(--main-bg-color);
    padding: 1em;
    text-align: left;
}