body {
    margin: auto;
}

.md {
    display: block;
    border-radius: 16px;
    padding: 8px 16px;
    margin-top: 56px;
}

.md h1::before, .md h2::before {
    content: "";
}

.md h1 {
    color: var(--highlight-color);
    border: 0;
}

.md h2 {
    color: var(--secondary-text-color);
    border: 0;
}

.md a:link, .md a:visited {
    color: var(--highlight-color);
}

.md div.title {
    margin-bottom: 0px;
    border: 0;
}

.md pre {
    background: var(--box-bg-color);
    padding: 1em;
}

.md blockquote {
    font-style: italic;
    background: var(--box-bg-color);
    padding: 1em;
    text-align: left;
}

.markdeepFooter {
    display: none;
}
